

.App {
  margin: 100px auto 120px auto;
  padding: 40px 30px;
  width: 75%;
  border-radius: 15px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  display: block;
  background: rgba(245, 245, 245, 1);
  color: rgb(112, 107, 109);
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.footer {
  margin: -90px auto;
  width: 75%;
  color: black;
  text-align: center;
  margin-bottom: 100px;
}
.footer-link {
  color: rgba(230, 62, 109, 0.9);
}
.footer-link:hover {
  color: rgba(230, 62, 109, 1);
}
