body {
  color: rgb(112, 107, 109);
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    radial-gradient(
        at top center,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 120%
      )
      #989898;
  background-blend-mode: multiply, multiply;
}

h1,
h2 {
  font-size: 39px;
  font-weight: 700;
}

h3 {
  font-size: 20px;
}

ul {
  padding: 0px;
  margin: 0px;
}

li {
  list-style: none;
}
li:first-letter {
  text-transform: capitalize;
}

/* p {
  margin: 0;
  text-align: center;
} */

.App {
  margin: 100px auto 120px auto;
  padding: 40px 30px;
  width: 75%;
  border-radius: 15px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  display: block;
  background: rgba(245, 245, 245, 1);
  color: rgb(112, 107, 109);
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.border-box {
  border: solid 4px rgb(230, 62, 109);
  border-radius: 15px;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.5);
  margin: 25px 10px;
  padding: 15px 25px;
}
.search-form {
  padding: 6px 25px;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

/* .forecast-small {
  border: solid 1px rgb(112, 107, 109);

  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  margin: 10px 5px;
  padding: 10px 0px 10px 10px;
} */

.btn {
  background: rgb(230, 62, 109);
  border-color: rgb(230, 62, 109);
  border-radius: 15px;
  color: rgba(245, 245, 245, 1);
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.5);
  border: solid 4px rgb(230, 62, 109);
  padding: 6px 45px;
  margin-top: 20px;
}
.btn:hover {
  background: rgba(245, 245, 245, 0.2);
  border-color: rgb(230, 62, 109);
  color: rgb(112, 107, 109);
}

.btn-search {
  margin-left: -35px;
}
.btn-current {
  margin-left: -30px;
}

.acutal-weather {
  margin-left: 22px;
  width: 526px;
}
.active {
  color: rgba(112, 107, 109, 1);
  text-decoration: none;
  cursor: default;
}
.active:hover {
  color: rgba(112, 107, 109, 1);
}

.passiv {
  color: rgba(230, 62, 109, 0.7);
  text-decoration: none;
}
.passiv:hover {
  color: rgba(230, 62, 109, 0.9);
}

.icon-actual {
  width: 95px;
}

.weather-location {
  text-align: right;
  margin-right: 25px;
}

/* .icon-forecast {
  padding: 10px 6px 10px 8px; */
/* font-size: 30px; */
/* } */

/* .forecast-temp-max {
  font-weight: bold;
} */

.footer {
  margin: -90px auto;
  width: 75%;
  color: black;
  text-align: center;
  margin-bottom: 100px;
}
.footer-link {
  color: rgba(230, 62, 109, 0.9);
}
.footer-link:hover {
  color: rgba(230, 62, 109, 1);
}
