
.Weather h1,
h2 {
  font-size: 39px;
  font-weight: 700;
}



.Weather ul {
  padding: 0px;
  margin: 0px;
}

.Weather li {
  list-style: none;
}
.Weather li:first-letter {
  text-transform: capitalize;
}



.Weather .border-box {
  border: solid 4px rgb(230, 62, 109);
  border-radius: 15px;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.5);
  margin: 25px 10px;
  padding: 15px 25px;
}
.Weather .search-form {
  padding: 6px 25px;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}



.Weather .btn {
  background: rgb(230, 62, 109);
  border-color: rgb(230, 62, 109);
  border-radius: 15px;
  color: rgba(245, 245, 245, 1);
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.5);
  border: solid 4px rgb(230, 62, 109);
  padding: 6px 45px;
  margin-top: 20px;
}
.Weather .btn:hover {
  background: rgba(245, 245, 245, 0.2);
  border-color: rgb(230, 62, 109);
  color: rgb(112, 107, 109);
}

.Weather .btn-search {
  margin-left: -35px;
}
.Weather .btn-current {
  margin-left: -30px;
}

.Weather .acutal-weather {
  margin-left: 22px;
  width: 526px;
}
.Weather .active {
  color: rgba(112, 107, 109, 1);
  text-decoration: none;
  cursor: default;
}
.Weather .active:hover {
  color: rgba(112, 107, 109, 1);
}

.Weather .passiv {
  color: rgba(230, 62, 109, 0.7);
  text-decoration: none;
}
.Weather .passiv:hover {
  color: rgba(230, 62, 109, 0.9);
}

.Weather canvas {
margin-top: 7px;
}

.Weather .weather-location {
  text-align: right;
  margin-right: 25px;
}



